.flex {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.stack {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    text-align: center;
}

.image {
    border-radius: 5px;
}

.buttonGroup {
    text-align: center;
}

.button {
    width: 15%;
    margin: auto;
}

.modalBody {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    width: 25%;
    height: 80%;
    position: absolute;
    top: 10px;
    left: 38%;
    background-color: white;
}